@font-face{
    font-family:'Jost';
    src: url('../OpenType/Jost-400-Book.otf');
}

body{
    background-color: #f7f7f7;
    font-family: 'Jost';
   
}

.logIn{
height:100%;
}
.yo{
  margin:auto;
}
.signUp{
    height:70px;
    background-color: #87D37C;
    display: flex;
    width: 100%;

}

nav{
    display:flex;
}
.goal-template{
    min-height: 600px;
    min-width:600px;
    background-color: #87D37C;
    box-shadow: 8px 8px 8px 8px #888888;
    margin-bottom:100px;
}

.answer{
    width:100px;
    height:20px;
    border-radius:8px;
    transition-duration:0.4s;
    margin-right:15px;
}

.answer:hover{

    box-shadow: 8px 8px 8px 8px #888888;


}

.answer-one{

    background-color: #e74c3c;
    width:100px;
    height:150px;
}

.answer-two{

    background-color: #e67e22;
    width:100px;
    height:150px;
}

.answer-three{

    background-color: #f1c40f;
    width:100px;
    height:150px;
}

.answer-four{

    background-color: #2980b9;
    width:100px;
    height:150px;
}
.answer-five{

    background-color: #27ae60;
    width:100px;
    height:150px;
}

.question-container{
    width:600px;
    margin-left:700px;
}

.tracker-head{
    width:75%;
    margin:auto;
}

.answer:active{
    background-color:rgba(0, 0, 0, 0.1);
}

.chart{
    width:600px;
    height:300px;
    margin-bottom:50px;
}
.sidenav {
    height: 100%; /* 100% Full-height */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color:#A9F59E; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    padding: 20px;

}

.answer-disabled{

    background-color:#333333;
    pointer-events: none;

}

.submitButton{

    display:none;
}

.view{
    display:inline;
}